<h1>Bookmark<%= link_to material_icon.fiber_new, new_bookmark_path %>
	<%= link_to material_icon.search, @bookmark %> 
    <%= link_to material_icon.list, bookmarks_path %>

</h1>

<%= render 'form' %>
