<h1>Editing Scanner</h1>

<%= render 'form', scanner: @scanner %>

<% if @links %>
<% @links.each do |link| %>

   <%=link_to link, link%>
<% end %>
<% end %>

<%= link_to 'Show', @scanner %> |
<%= link_to 'Back', scanners_path %>
