<h2>Folders</h2>

<table>
  <thead>
    <tr>
      <th>Mpath</th>
      <th>Name</th>
           <th>Storage Id</th>
      <th>Change Storage to </th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>

        <td><%= folder.mpath %></td>
        
        <td><%= folder.lfolder %></td>
                    <td><%= folder.storage_id%> </td>
 <td>   <%     f = folder.originPath %> 
           
         <%  @storages.each do |s| %>
        <% p = s.originPath          
        %>
         <%= f.include?(p) ? (link_to p, changeStorage_folder_path(folder.id, storage_id: s.id)) : ""%>
    <% end %>
 
        </td>
    <% end %>
  </tbody>
</table>

<br>
