// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.storagefields {
   
  background-color: #D9D;  

  cursor: pointer;

  color: #222;
  padding: 0 5px;
  display: block;
  white-space: nowrap;
  margin: 3px;
  width: 300px;
 
    
  } 