// Place all the styles related to the mfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attribute:hover { background: yellow}

 .attribute {
   
  background-color: #DDD;  
  float: left;
  cursor: pointer;

  color: #222;
  padding: 0 5px;
  display: block;
  white-space: nowrap;
  margin: 3px;
    a {
    background-color: #ddd;
    text-decoration: none;
  }
  
    
  } 
  
  .number {float: left;}
  
.agroup_yes {
   width: 80px;
  background-color: rgba(0, 255, 0, 0.7);
  text-align: right;
  float: left;
  clear: left;
  a {
    background-color: #ddd;
    text-decoration: none;
  }
  a:visited {
     color: black;
  } 
 margin: 3px;
 overflow: hidden;
}

.agroup_no {
   width: 80px;
  background-color: rgba(255, 0, 0, 0.7);
    text-align: right;
  float: left;
  clear: left;
  a {
    background-color: #ddd;
    text-decoration: none;
  }
  a:visited {
     color: black;
  } 
 margin: 3px;
  overflow: hidden;
}

.thumbC {
    border: 4px solid black;
    float: left;
    margin: 0px;
    background-color: black;
    width: 140px;
    height: 140px;
    background-size: cover;
    position: relative;
 //   background: no-repeat;
}
.marker {
  position: absolute;
  left: 100px;
  top: 40px;
}

.thumbC:hover {

      background: center center no-repeat;
    background-size: contain;
    background-color: blue;
//   overflow: visisble;
//   width: 100%;
//    height: 100%;
 
}


#thumbnailBox{
    position: relative; // wichtig: damit sind alle innerhalb der Box absoluten Positionierungen relativ hierzu//#dunkel
    font-size: 8px;
    margin-right: 245px;
    border: 0px solid silver;
    background-color: #012;
}


#classifyBox {
  
    position: fixed;
    top: 40px;
    right: 0px;
    font-size: 10px;
    float: right;
    width: 240px;
    margin: 10px;
    padding: 2px;
    border: 1px solid silver;
    background-color: #224;
    color: #111;
    overflow: auto;
    height: 90%;
}

.classifyGroup {
      background-color: #222;
  
}

.orgPicture {
//    width: 400px;
       height: 90%;
//        overflow: auto;
}

.mfileForm {
    width: 300px;
//    float: left;
}

#overlayPic {
  
    position: fixed;
    top: 40px;
    left: 6%;
    height: 90%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
 //   border: 1px solid silver;

//   overflow: auto;
    overflow: hidden; 
}

#bild {

    height: 99%;
    margin: 0px;
    padding: 0px;
    border: 1px solid silver;
    background-color: #fff;
    color: #111;

 //   float: left;
}

.attributeRight {
      background-color: #4f4;
      color: #000;
    float: left;
    clear: left;
    margin: 2px;
        border: 1px solid black;
    

}

.attributeRightStart {
      background-color: #4f4;
    float: left;
    margin: 2px;
    
}
 
#bildAttris {
      overflow: hidden; // wichtig: es entsteht ein neuer Kontext für float!
    
    position: relative;
    left: -10px;
    z-index: 100;

}

#bildCont {
  float: left;
  height: 99%;
}


.balken {
 // width: 6px;
  position: relative;
  background-color: #0F0;
  height: 17px;
}


#dunkel{
display:block;
position:absolute;
background:#002;
width:100%;
height:100%;
opacity:0.8;
color:#f00;
z-index: -12;
top:0;
left:0; }