body {
#  background-color: #002;
  color: #eee;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
//  line-height:  1px;
//  margin-left: 20px;
//  margin-right: 20px;
  background: linear-gradient( to left, #aac, #88a)
}

table {
#  background-color: #99B;
  color: #000;
  border: 1px solid grey;
  padding: 2px;
  border-collapse: collapse;
  margin-left: 5px;
  position: relative;
  max-width: 600px;
}
 
h1 {
  margin: 4px;
  font-size: 20px;
  line-height: 20px;
}

h2 {
  margin: 4px;
  font-size: 20px;
  line-height: 20px;
  color: #111;
}

li {
  list-style-type: none;
      padding: 0;
#    border: 1px solid #ddd;
  
}

 th,td {

  height: 1px;
  line-height: 10px;
  font-size: 10px;
  background-color: #88A;
  color: #000;
  padding: 0px;
  border-collapse: collapse;
    border: 1px solid grey;
   max-width: 33vw;
   overflow: hidden;
     &:hover {
    color: #004;
    background-color: #bbb;
    overflow: visible;
#    font-size: 20px;
   }
}

 th {
  background-color: #557;
  color: #DDD;
  padding: 2px;
  border-collapse: collapse;
    border: 1px solid grey;
}


p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
//  line-height: 13px;
}


li.menu {
  display: inline;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #004;
  }
  &:hover {
    color: #004;
    background-color: #aaf;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 5px;
  }
}

.main {
  width: 90%;
  margin-top: 300px;
}

.actions {

}

input  {
  
    background-color: #EFE;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.titlename {
  font-size: 18px; 
}

.buttonForm {
  background-color: #D9C;
}

.fbox {
  margin-left: 3px;
  margin-top: 3px;
}

.processFiles {
  cursor: pointer;
}

.valuepair {
  font-size: 12px;
  line-height:  15px;
}

.lbl {
  display: inline-block;
  width: 150px;
//  height: 4px;
//  font-size: 16px;
  text-align: right;  

}

label {
  display: inline-block;
  width: 150px;  
 //background-color: #eee;
  text-align: right;  

}

.field {
  font-size: 16px;
//  text-align: right;  
}


.fieldbox {
 width: 800px;
 background-color: #224;
  
}

#menu {
  background-color: #FFF;
  position: fixed;
  top: 0px;
}

#main {
  
 margin-top: 40px;
}

.clink {
 background-color: #DDF;
 border: 2px solid #FFF; 
 padding: 0px;
 border-radius:0px;
 margin: 1px;
 
}

// Tooltip

.fa{
//   display: inline;
// display: relative;
}

.fa:hover:after{
//    background: #333;
    background-color: rgba(200,200,250,1.0);
    
    background: linear-gradient( to right, #ccf, #557);
    border-radius: 5px;
    
    top: 20px;
    color: #111;
    content: attr(data-tooltip);
    right: 40px;
    padding: 5px 15px;
    position: absolute;
    z-index: 989;
 //   width: 220px;
}


.orange600 {
      color: #F88;
}



//////////////////////////////////////////////////////////  http://sass-lang.com/

 .attributenew {
   
  background-color: #DDD;  
//  display: inline-block
  cursor: pointer;

  color: #222;
  padding: 0 5px;
  white-space: nowrap;
  margin: 3px;
    a {
    background-color: #ddd;
    color: #222;
    text-decoration: none;
    }
  } 
 


.attribute:hover { background: yellow}

 .attribute {
   
  background-color: #DDD;  
  float: left;
  cursor: pointer;

  color: #222;
  padding: 0 5px;
  display: block;
  white-space: nowrap;
  margin: 3px;
    a {
    background-color: #ddd;
    color: #222;
    text-decoration: none;
  }
  
    
  } 
  
  .number {float: left;}
  
.agroup_yes {
   width: 80px;
  background-color: rgba(0, 255, 0, 0.7);
    color: #111;
  text-align: right;
  float: left;
  clear: left;
  a {
    background-color: #ddd;
    text-decoration: none;
  }
  a:visited {
     color: black;
  } 
 margin: 3px;
 overflow: hidden;
}

.agroup_no {
   width: 80px;
  background-color: rgba(255, 100, 100, 1.0);
    color: #111;
    text-align: right;
  float: left;
  clear: left;
  a {
    background-color: #ddd;
    text-decoration: none;
  }
  a:visited {
     color: black;
  } 
 margin: 3px;
  overflow: hidden;
}

.marker {
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 20;
  color: green;
  display: none;

}
//.marker:hover {
//    background-color: white;
//
 //   color: red;
 //  z-index: 20;
 //   cursor: pointer;
 // }
  

.thumbsContainer {
    display: flex;
    border: 4px solid #002;
    margin: 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }

.thumbe {
    border: 4px solid #002;
    margin: 0px;
    background-color: black;
//    display: flex;
//    flex-grow: 1;
  }



.thumbC {
    border: 4px solid #002;
 //   padding: 3px;
    float: left;
    margin: 0px;
    background-color: black;
    width: 140px;
    height: 140px;
    background-size: cover;
    position: relative;
    opacity: 0.4;
 //   background: no-repeat;
}

.thumbC:hover {

      background: center center no-repeat;
      border: 0px solid #002;
      background-size: contain;
    background-color: "";
    opacity: 1.00;
    overflow: visible;
//    width: 100%;
//     height: 200px;
//   background-size: 200% 200%;
// background-attachment: scroll;  
//  background-position: 0% 0%;
  
     padding: 54px;
     margin: -50px;
     z-index: 10;
}


.thumbC:hover .marker{
    display:block;
}

.thumbC:hover .marker .fa{
    display:none;
}


#thumbnailBox{
    position: relative; // wichtig: damit sind alle innerhalb der Box absoluten Positionierungen relativ hierzu//#dunkel
    font-size: 8px;
    margin-right: 145px;
    border: 0px solid silver;
#   background-color: #012;
}


#classifyBox {
  
    position: fixed;
    top: 40px;
    right: 0px;
    font-size: 10px;
    float: right;
    width: 240px;
    margin: 10px;
    padding: 2px;
    border: 1px solid silver;
   background-color: #224;
    color: #111;
    overflow: auto;
    height: 90%;
}

.classifyGroup {
     background-color: #222;
  
}

.orgPicture {
//    width: 400px;
       height: 90%;
//        overflow: auto;
}


#overlayPic {
  
    position: fixed;
    top: 0px;
    left: 0%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
 //   border: 1px solid silver;
//   overflow: auto;
    overflow: hidden; 
}


#overlayPicFull {
   
    background-color: black;

    background: center no-repeat;
    background-size: contain;
    position: fixed;
    top: 0px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    overflow: hidden; 
}


#bildNext {
    position: fixed;
    top: 20px;
    left: 10%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
//   overflow: auto;
    overflow: hidden; 
    cursor: pointer;
    color: white;
    text-shadow: 7px 5px #100000;
}

#bildPrev {
    position: fixed;
    top: 20px;
    left: 5%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
//   overflow: auto;
    overflow: hidden; 
    cursor: pointer;
    color: white;
    text-shadow: 7px 5px #000000;
}


#bildNextSlide {
    position: fixed;
    top: 20px;
    left: 6%;
    height: 20px;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    background-color: #fff;
 //   border: 1px solid silver;
//   overflow: auto;
    overflow: hidden; 
    cursor: cell;
}


#bild {

    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid silver;
    background-color: #fff;
    color: #111;

 //   float: left;
}

.attributeRight {
      background-color: #eee;
      color: #000;
    float: left;
    clear: left;
    margin: 2px;
        border: 1px solid black;
}

.agroupRight {
      background-color: #4f4;
      color: #000;
    float: left;
    clear: left;
    margin: 2px;
        border: 1px solid black;
}


.attributeRightStart {
      background-color: #4f4;
    float: left;
    margin: 2px;
    
}
 
#bildAttris {
      overflow: hidden; // wichtig: es entsteht ein neuer Kontext für float!
    
    position: relative;
    left: -10px;
    z-index: 200;

}

#bildCont {
  float: left;
  height: 100%;
}


.balken {
 // width: 6px;
  position: relative;
  background-color: #0F0;
  height: 17px;
}


#dunkel{
display:block;
position:absolute;
background:#002;
width:100%;
height:100%;
opacity:0.8;
color:#f00;
z-index: -12;
top:0;
left:0; }
