body {
#  background-color: #002;
  color: #eee;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: 20px;
  background: linear-gradient( to left, #aac, #88a)
}

table {
#  background-color: #99B;
  color: #000;
  border: 1px solid grey;
  padding: 2px;
  border-collapse: collapse;
  margin-left: 10px;
  position: relative;
}
 
h1 {
  font-size: 30px;
}

 th,td {
  background-color: #88A;
  color: #000;
  padding: 2px;
  border-collapse: collapse;
    border: 1px solid grey;
   max-width: 500px;
   overflow: hidden;
     &:hover {
    color: #004;
    background-color: #bbb;
#    overflow: visible;
#    font-size: 20px;
   }
}

 th {
  background-color: #557;
  color: #DDD;
  padding: 2px;
  border-collapse: collapse;
    border: 1px solid grey;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  
}

li.menu {
  display: inline;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #004;
  }
  &:hover {
    color: #004;
    background-color: #aaf;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.actions {

}

input  {
  
    background-color: #EFE;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.titlename {
  font-size: 18px; 
}

.buttonForm {
  background-color: #D9C;
}

.fbox {
  margin-left: 50px;
  margin-top: 30px;
}

.processFiles {
  cursor: pointer;
}

label {
  display: inline-block;
  width: 150px;  
 //background-color: #eee;
  text-align: right;  

}

.field {
  font-size: 16px;
//  text-align: right;  
}


.fieldbox {
 width: 800px;
 background-color: #224;
  
}

#menu {
  background-color: #FFF;
  position: fixed;
  top: 0px;
}

#main {
  
 margin-top: 40px;
}

.clink {
 background-color: #DDF;
 border: 2px solid #FFF; 
 padding: 0px;
 border-radius:0px;
 margin: 1px;
 
}

// Tooltip

.fa{
//   display: inline;
// display: relative;
}

.fa:hover:after{
//    background: #333;
    background-color: rgba(200,200,250,1.0);
    
    background: linear-gradient( to right, #ccf, #557);
    border-radius: 5px;
    
    top: 20px;
    color: #111;
    content: attr(data-tooltip);
    right: 40px;
    padding: 5px 15px;
    position: absolute;
    z-index: 989;
 //   width: 220px;
}


.orange600 {
      color: #F88;
}
