<div class="locationNet">
	

		
	
	<div id="titlee">   </div>
	
	<%=link_to "Get Content", parse_location_path(@location)%>
	
		<%=link_to "Genarate Storage with Location", gswl_location_path(@location)%>		
</div>