<div class="locationNet">
	
	<button class="checkAvailiblity" id=<%=@location.id%>>
		Check </button>
		
	
	<div id="titlee">   </div>
	
	<%=link_to "Parse", parse_location_path(@location)%>
			
</div>